#!/usr/bin/env bash

hostname ${hostname}

/usr/bin/gitlab-runner register \
--non-interactive \
--url 'https://${gitlab_host}/' \
--registration-token '${registration_token}' \
--executor docker --docker-image ${docker_image} \
--locked=${locked} --tag-list ${runner_tags} --run-untagged=${run_untagged}

# I tried. I tried to use a template and that wasn't working right. So on to this way I guess.
sed -i '' 's/concurrent = 1/concurrent = ${runner_concurrency}/' /etc/gitlab-runner/config.toml
systemctl restart gitlab-runner
