#!/usr/bin/env bash

hostname ${hostname}

cat << EOF > /tmp/gitlab-runner.template.toml
concurrent = ${runner_concurrency}

[[runners]]
  name = "${hostname}"
  url  = "https://${gitlab_host}/"
  executor = "docker"
  [runners.docker]
    image = "${docker_image}"
EOF

/usr/bin/gitlab-runner register \
--non-interactive \
--template-config /tmp/gitlab-runner.template.toml \
--registration-token '${registration_token}' \
--locked=${locked} --tag-list ${runner_tags} --run-untagged=${run_untagged}
